*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
lib/bundledOutputs
*.mlast
*.mliast
.vscode
.merlin
src/*.js
node_modules
.DS_Store